<aside class="sidebar">
  <ul class="sidebar-nav">
    <% if (user) { %>

      <% if (user.loaiTaiKhoan === 'Hiệu trưởng') { %>
        <li><a href="#" data-page="phancongchunhiembomon">Phân công giáo viên</a></li>
        <li><a href="#" data-page="duyetyeucausuadiem">Duyệt yêu cầu sửa điểm</a></li>
        <li><a href="#" data-page="xemthongkeketqua">Xem thống kê</a></li>

      <% } else if (user.loaiTaiKhoan === 'Giáo vụ') { %>
        <li><a href="#" data-page="quanlylop">Quản lý lớp học</a></li>
        <li><a href="#" data-page="quanlygiaovien_hocsinh">Quản lý hồ sơ học sinh, giáo viên</a></li>
        <li><a href="#" data-page="phanlophocsinh">Phân chia học sinh</a></li>
        <li><a href="#" data-page="thoikhoabieu">Lập thời khóa biểu</a></li>
        <li><a href="#" data-page="xemthongkeketqua">Xem thống kê</a></li>

      <% } else if (user.loaiTaiKhoan === 'Giáo viên') { %>

        <% if (user.isGVBoMon && user.isGVChuNhiem) { %>
          <li><a href="#" data-page="diemdanh">Điểm danh</a></li>
          <li><a href="#" data-page="giaobaitap">Giao bài tập</a></li>
          <li><a href="#" data-page="quanlydiem">Quản lý điểm</a></li>
          <li><a href="#" data-page="nhanxethocsinh">Nhận xét</a></li>
          <li><a href="#" data-page="xetdiemrenluyen">Xét hạnh kiểm</a></li>
          <li><a href="#" data-page="xemthongkeketqua">Xem thống kê</a></li>

        <% } else if (user.isGVBoMon && !user.isGVChuNhiem) { %>
          <li><a href="#" data-page="diemdanh">Điểm danh</a></li>
          <li><a href="#" data-page="giaobaitap">Giao bài tập</a></li>
          <li><a href="#" data-page="quanlydiem">Quản lý điểm</a></li>
          <li><a href="#" data-page="nhanxethocsinh">Nhận xét</a></li>

        <% } else if (!user.isGVBoMon && user.isGVChuNhiem) { %>
          <li><a href="#" data-page="xemthongkeketqua">Xem thống kê</a></li>
          <li><a href="#" data-page="xetdiemrenluyen">Xét hạnh kiểm</a></li>
        <% } %>

      <% } else if (user.loaiTaiKhoan === 'Phụ huynh') { %>
        <li><a href="#" data-page="xemdiem">Xem điểm học kỳ, hạnh kiểm</a></li>
        <li><a href="#" data-page="xinphep">Xin phép nghỉ học</a></li>
        <li><a href="#" data-page="hocphi">Thanh toán học phí</a></li>
        <li><a href="#" data-page="thongtinhs">Chỉnh sửa thông tin con</a></li>

      <% } else if (user.loaiTaiKhoan === 'Thí sinh') { %>
        <li><a href="#" data-page="dangkytuyensinh">Đăng ký tuyển sinh</a></li>
        <li><a href="#" data-page="nhaphoc">Xem kết quả tuyển sinh && Xác nhận nhập học</a></li>

      <% } else if (user.loaiTaiKhoan === 'Học sinh') { %>
        <li><a href="#" data-page="xembaitap">Xem bài tập</a></li>
        <li><a href="#" data-page="xemtkb">Xem thời khóa biểu</a></li>
        <li><a href="#" data-page="xemdiem">Xem điểm</a></li>

      <% } else if (user.loaiTaiKhoan === 'Quản trị hệ thống') { %>
        <li><a href="#" data-page="taotk">Tạo & phân quyền tài khoản</a></li>
        <li><a href="#" data-page="quanlytruong">Quản lý trường</a></li>
        <li><a href="#" data-page="quanlymonhoc">Quản lý môn học</a></li>

      <% } else if (user.loaiTaiKhoan === 'Cán bộ SGD') { %>
        <li><a href="#" data-page="nhapchitieutuyensinh">Nhập chỉ tiêu tuyển sinh</a></li>
        <li><a href="#" data-page="nhapdiemthituyensinh">Nhập điểm thi tuyển sinh</a></li>
        <li><a href="#" data-page="phanbohocsinhvaotruong">Phân bổ học sinh vào trường</a></li>
      <% } %>

    <% } %>
  </ul>

  <div class="sidebar-footer">
    <button id="logout-btn">Đăng xuất</button>
  </div>

  <script src="/js/DangNhap.js"></script>
</aside>
